.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    border-bottom: 1px solid #ddd;
}

.headerNavName {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 2em;
    width: 33%;
    text-align: center;
}

.headerSeason {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.games {
    margin-left: 10rem;
    margin-right: 10rem;
}

.playerStats {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
}

.playerStatsTable {
    border: 1px solid #000;
    width: fit-content;
    margin: auto;
}

.gameStats {
    width: fit-content;
    margin: auto;
}